* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

.container {
  width: 90%;
  margin: 0 auto;
}

nav .nav a {
  margin-right: 20px;
}

main .title {
  color: #3a4145;
}
main .title_2 {
  color: #649d8d;
}
main .btn {
  background-color: #e9828d;
}
main .btn .fa-whatsapp {
  margin-left: 10px;
  font-size: 25px;
}
main .btn:hover {
  background-color: #f29882;
}
