* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

.container {
  width: 90%;
  margin: 0 auto;
}

.jumbo {
  position: relative;
}
.jumbo nav .nav a {
  margin-right: 20px;
}

#hero main .title {
  color: #3a4145;
}
#hero main .title_2 {
  color: #649d8d;
}
#hero main .btn {
  background-color: #e9828d;
}
#hero main .btn .fa-whatsapp {
  margin-left: 10px;
  font-size: 25px;
}
#hero main .btn:hover {
  background-color: #f29882;
}

#arrow .arrow {
  color: #649d8d;
  font-size: 50px;
  position: absolute;
  top: 650px;
  /* position the top  edge of the element at the middle of the parent */
  left: 50%;
  /* position the left edge of the element at the middle of the parent */
  cursor: pointer;
  transform: translate(-50%, -50%);
  z-index: 100;
}
@media screen and (max-width: 1023px) {
  #arrow .arrow {
    top: 6%;
    left: 90%;
    font-size: 35px;
  }
}

#arrow_ .arrow {
  color: #e9828d;
  font-size: 50px;
  margin-bottom: 20px;
}
@media screen and (max-width: 1023px) {
  #arrow_ .arrow {
    font-size: 35px;
    margin-right: 30px;
    margin-bottom: 50px;
  }
}

#dove-ricevo {
  background-color: #e9828d;
}
#dove-ricevo div {
  cursor: pointer;
}

#consulenze .services {
  color: #649d8d;
}
#consulenze .bg-indigo-500 {
  background-color: #f29882;
}
#consulenze .text-gray-900 {
  color: #3a4245;
}
#consulenze .gestalt {
  color: #e9828d;
  text-decoration: underline;
}

#contatti {
  background-color: #92c5b6;
  color: #3a4245;
}
#contatti .container p {
  margin-left: 20px;
}
#contatti .insta {
  color: #3a4245;
}
#contatti i {
  color: #3a4245;
  font-size: 30px;
  margin-right: 15px;
}
#contatti .contact {
  text-align: left;
}
@media screen and (max-width: 768px) {
  #contatti .contact {
    margin-left: 20px;
  }
}
#contatti .l-r {
  display: flex;
}
@media screen and (max-width: 768px) {
  #contatti .l-r {
    flex-direction: column-reverse;
  }
}
#contatti .l-r .left {
  width: 70%;
}
@media screen and (max-width: 768px) {
  #contatti .l-r .left {
    width: 100%;
  }
}
#contatti .l-r .right {
  margin-left: 150px;
}
@media screen and (max-width: 768px) {
  #contatti .l-r .right {
    margin-left: 20px;
    margin-bottom: 40px;
    width: 280px;
  }
}
#contatti .footer-bottom {
  background-color: #649d8d;
}
#contatti .footer-bottom .wvwall {
  color: #e9828d;
}
